@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";
@import "@midudev/tailwind-animations";
@plugin "@tailwindcss/typography";

@theme {

    --max-w-desktop: 1140px;

    --color-primary: #FFFF00;
    --color-primary-hover: #FFFF00;

    --color-secondary: #222222;
    --color-base-text: #666;

    /* Fonts */
    --font-primary: "Titillium Web", sans-serif;
}

@layer utilities {
    .max-w-desktop {
        max-width: var(--max-w-desktop);
    }
}

html {
    @apply scroll-smooth
}

body {
    @apply font-primary 
}

h1.title1 {
    @apply font-bold text-5xl uppercase bg-black inline-block py-0.5
}



p{
    @apply leading-5
}